



<div class="wrapper fadeInDown">

   
        <div class="alert alert-danger" role="alert" *ngIf="error">
          El usuario o el password no son correctos
        </div>
    
      

    <div id="formContent">
    
      <div class="fadeIn first">
        <img src="assets/images/logo.jpg" id="icon" alt="Angular Icon" />
      </div>
  
     
      <form #f = "ngForm" (ngSubmit)="onSubmit(f)">
        <input type="text"  name="email" [(ngModel)]="email" #_email="ngModel" placeholder="Email"
         required email [ngClass]="{ 'fadeIn': true,   'second':true  }">
      
          
          
    

        <input type="password"  class="fadeIn third" name="password"   [ngClass]="{ 'fadeIn': true,   'third':true }" [(ngModel)]="password" #_password="ngModel" placeholder="password" required>
      



        <input type="submit" [disabled]="f.invalid" class="fadeIn fourth" value="Login" >
      
      </form>
  
    
  
    </div>
  </div>