<mat-icon   style="cursor: pointer; color: red" *ngIf="taken"  (click)="delete(student._id)">delete</mat-icon> 

<div class="card" style="width: 25%; margin:3%" draggable="true" [id]="student._id">
    
    <!-- Image -->
    <img class="card-img-top" src="{{url}}{{student.imagen}}" style="width: 100%; height: 130px" alt="alumno">
    
    <!-- Text Content -->
    <div class="card-body"  [id]="student._id" style="text-align: center;">
  
    <p class="card-text"  [id]="student._id">{{student.nombre}}  {{student.apellidos}}</p>
    </div>
    
    </div>

    