<h1 *ngIf="teacherId">Añadir alumnos para  {{teacher.nombre}} {{teacher.apellidos}}</h1>


<div class="row" *ngIf="!teacherId">
<div class="col-12">
    <div class="form-group">
        <select class="form-control" [(ngModel)]="teacherId" name="teacherId" (change)="chargeTeacher()">
            <option [value]="undefined">Selecciona un maestro</option>
            <option *ngFor="let teacher of teachers"  [value]="teacher._id">{{teacher.nombre}} {{teacher.apellidos}}</option>
        </select>
    </div>
</div>
</div>


<div class="flex-container">
    <div ><ng-container #canvasA > </ng-container></div>


    <div><ng-container #canvasB> </ng-container> </div>
</div>