<fieldset>
    <legend>Crear profesor</legend>
    <form #f="ngForm" (ngSubmit)="onSubmit(f)">
        <div class="form-container">
       
          <mat-form-field>
            <input
              matInput
              placeholder="Nombre"
              [(ngModel)]="teacher.nombre"
              name="nombre"
              required
            />
          </mat-form-field>
      
          <mat-form-field>
            <input
              matInput
              placeholder="Apellidos"
              [(ngModel)]="teacher.apellidos"
              name="apellidos"
              required
            />
          </mat-form-field>
      
          <mat-form-field>
            <input
              matInput
              placeholder="Direccion"
              [(ngModel)]="teacher.direccion"
              name="direccion"
              required
            />
          </mat-form-field>
      
          <mat-form-field>
            <input
              matInput
              placeholder="Telefono"
              [(ngModel)]="teacher.telefono"
              name="telefono"
              phone="9"
              #mobile="ngModel"
              required
            />
          </mat-form-field>

          <mat-form-field>
              <ngx-mat-file-input  placeholder="Subir imangen"  (change)="uploadImage($event.target.files[0])" [(ngModel)]="teacher.imagen"
              name="imagen" ></ngx-mat-file-input>
              <mat-icon matSuffix>folder</mat-icon>
            </mat-form-field>
      
          <div class="button-row">
              <button mat-button type="submit" class="btn-primary" [disabled]="f.invalid">
                 Guardar <mat-icon>send</mat-icon>
               </button>
               <button mat-button type="submit" class="btn btn-danger" [routerLink]="['../list']" routerLinkActive="router-link-active" >
                 Cancelar <mat-icon>cancel</mat-icon>
               </button>
             </div>
        </div>
      </form>
      
  </fieldset>



