<app-navbar></app-navbar>
<mat-drawer-container>
  <mat-drawer mode="side" class="custom-sidebar" opened>
    <app-sidebar></app-sidebar>
  </mat-drawer>
  <mat-drawer-content style="padding: 3%;">
    <router-outlet></router-outlet>
  </mat-drawer-content>
</mat-drawer-container>
<app-footer></app-footer>
