
    <nav class="navbar navbar-expand-lg  navbar-dark bg-dark navbar-static-top">
        <i class="navbar-brand custom-nav"><img  style="width: 100px; height: 75px;" src="assets/images/logo.png"> ESCUELA ANGULAR</i>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div id="navbarNavDropdown" class="navbar-collapse collapse">
            <ul class="navbar-nav mr-auto">
               

            </ul>
            <ul class="navbar-nav">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="http://example.com" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Acciones
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        <a class="dropdown-item" (click)="_auth.logout()">Logout</a>
                       
                    </div>
                </li>
              
            </ul>
        </div>
    </nav>
