<mat-list role="list" style="cursor: pointer">
        <mat-list-item role="listitem" [routerLink]="['/teacher/list']" routerLinkActive="active"  >Profesores</mat-list-item>
        <mat-list-item role="listitem" [routerLink]="['/student/list']" routerLinkActive="active">Alumnos</mat-list-item>
        <mat-list-item role="listitem" [routerLink]="['/config']" routerLinkActive="active">Configurar</mat-list-item>
      </mat-list>