<fieldset>
    <legend>Lista de profesores</legend>

<div class="wrapper">

<table mat-table   style="width:100%"  [dataSource]="teachers"  matSort class="mat-elevation-z8">

  <ng-container matColumnDef="imagen">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> Avatar </th>
    <td mat-cell *matCellDef="let element"><img class="rounded-circle"  style = "width: 50px; height: 50px"  src="{{url}}{{element.imagen}}" ></td>
  </ng-container>
  <!-- Position Column -->
  <ng-container matColumnDef="nombre">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> Nombre </th>
    <td mat-cell *matCellDef="let element"> {{element.nombre}} </td>
  </ng-container>

  <!-- Name Column -->
  <ng-container matColumnDef="apellidos">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>Apellidos </th>
    <td mat-cell *matCellDef="let element"> {{element.apellidos}} </td>
  </ng-container>

  <!-- Weight Column -->
  <ng-container matColumnDef="telefono">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> Telefono </th>
    <td mat-cell *matCellDef="let element"> {{element.telefono}} </td>
  </ng-container>


  <ng-container matColumnDef="add"  class="custom-actions">
    <th mat-header-cell *matHeaderCellDef> <mat-icon   class="pointer"   [routerLink]="['../add']" routerLinkActive="router-link-active" >add</mat-icon> </th>
    <td mat-cell *matCellDef="let element">  </td>
  </ng-container>
  
  <!-- Weight Column -->
  <ng-container matColumnDef="acciones"  class="custom-actions">
    <th mat-header-cell *matHeaderCellDef> Acciones </th>
    <td mat-cell *matCellDef="let element"> 
      <button mat-icon-button class="btn btn-success" [routerLink]="['../add', element._id ]"   routerLinkActive="router-link-active" ><mat-icon>edit</mat-icon></button> 
      <button mat-icon-button class="btn btn-primary" [routerLink]="['../../config', element._id]" routerLinkActive="router-link-active" ><mat-icon>supervisor_account</mat-icon></button> 
      <button mat-icon-button class="btn btn-danger" (click)="delete(element._id)"><mat-icon>delete</mat-icon></button>
    </td>
   
  </ng-container>
   
  

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>


</table> 

<mat-paginator [pageSizeOptions]="[5, 10, 15]" showFirstLastButtons></mat-paginator>

</div>
</fieldset>