/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

table {
  width: 100%;
}

th.mat-sort-header-sorted {
  color: black;
}


//--------------------------------------
// 			PATRON DE COLORES
//--------------------------------------
$principal:#343A40;
$texto: rgb(233, 230, 230);
$background: rgb(20, 19, 19);

/*----------------------------------------
SOBREESCRIBIENDO  LOS ESTILOS DE BOOTSTRAP
------------------------------------------*/
.bg-primary {
	background-color: $principal !important;
}
.text-primary {
	color: $texto !important;
}

.btn-primary {
	background-color:$principal !important;
	border-color: darken($principal,20%) !important;
}
.btn-primary:hover,
.btn-primary:focus {
	background-color:darken($principal,10%) !important;
}
.btn-primary:active {
	background-color:darken($principal,20%) !important;
	border-color: darken($principal,30%) !important;
}
.btn-primary:focus {
	box-shadow: 0 0 0 0.2rem rgba($principal,.5) !important;
}


#sticky-footer {
    flex-shrink: none;
  }

  .custom-nav {
   color: #8398A0!important;
  }

  .custom-nav-config {
    height: 100px;
    
}

.custom-actions button{
  margin-left: 2%;
  width: 80%;
}

.custom-actions  td.mat-cell, td.mat-footer-cell, th.mat-header-cell {
  width: 23%;
}

.pointer {
  cursor: pointer;
}

.pointer:hover {
  font-size: 3em;;
}


.mat-icon-button {
  margin-left: 2%!important;
}

  .custom-nav-config mat-icon {
    float: right;
    font-size: 3.5em;
    margin-right: 5%;
    margin-top: 2%;
  }

  .form-container {
    display: flex;
    flex-direction: column;
    margin-left: 20%;
  }
  
  .form-container > * {
    width: 50%;
    align-content: center;
  }

  .custom-sidebar {
      
      width: 300px;
      height: 100%;
     
  } 

  
  .custom-sidebar mat-list-item:hover {
 background-color:#343A40;
 color: white;
  }


  .active {
    background-color:  #343A40;
    color: white!important;
  }
   

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
   
    color: white;
    text-align: center;
  }

  mat-drawer-container {
    height: 83%;
  }

  .button-row button,
.button-row a {
  margin-right: 8px;
  float: right;

}


.flex-container {
  display: flex;
  flex-wrap: nowrap;
  background-color: #343A40;
}



.flex-container > div   {
  background-color: #f1f1f1;
  width: 50%;
  margin: 10px;
  text-align: right;
  line-height: 75px;
  font-size: 20px;
}


.card-text {
  line-height: 25px!important;
}

.flex-container > img {
  background-color: #f1f1f1;
  width: 50%;
  margin: 10px;
  text-align: right;
  line-height: 75px;
 
}




.card {
  flex-direction: row!important;
}


